/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #ffffff;
  }

h1{
    color:turquoise;
    font-size: 100px;


}

#content{

background-color: blueviolet;
width: 1000px;
min-height: 200px;
padding: 10px;
margin: 5px;
border: solid 1px #682309;
font-size: 30px;
}

p{
color: yellow;

}