/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #ec8080;
    background-color: #d0d232;
  }

h1{
    color:turquoise;
    font-size: 100px;


}

body{
  font-family: Geneva, Papyrus;
  background-color: beige;
  padding: 35px;
  font-size: 140%;

}


#content{

background-color: blueviolet;
width: 1000px;
min-height: 200px;
padding: 10px;
margin: 5px;
border: solid 1px #682309;
font-size: 30px;
}

p{
color: yellow;

}